@import "./font/font";
@import "./block/card";
@import "./block/footer";
@import "./block/header";
@import "./block/map";
@import "./block/modal";
@import "./block/slider";
@import "./block/button";


@import "./variables/colors";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}

.container {
    display: block;
    width: 76%;
    margin: 0 auto;
}

body{
    background-color: #F9F9F9;
}

 