.header {
    width: 100%;
    padding: 20px 0;
    &-logo {
        width: 142px;
        height: 35px;
        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
        }
        &_list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 35px;
            &-item{
                a {
                    text-decoration: none;
                    color: #5E5E5E;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        &-phone {
            list-style-type: none;
            a {
                color: #5E5E5E;
                text-decoration:none;
                transition: all 1s ease-in;
                &:hover {
                    text-decoration:underline;
                }
            }
        }
        &-order {
            width: 148px;
            height: 33px;
            border: 1px solid #B19280;
            border-radius: 100px;
            background-color: transparent;
            cursor: pointer;
            color: #937462;
            transition: .3s all;
            &:hover{
                color: #fff;
                background-color: #B19280;
            }
        }
    }
}

.block{
    position: absolute;
 
    width: 270px;
    height: 160px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding-left: 20px;
    display: none;
    &__ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 94%;
        &_li{
            color: #5E5E5E;
            font-weight: 500;
            border-bottom: 1px solid #E9E9E9;
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:nth-child(3){
                border-bottom: none;
            }
        }
    }
}


